@charset "UTF-8";
html,body {
	background-color: #FFFFFF;
}

.head {
	position: relative;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background: #97C6EE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.head .title-section{
	float:center;
	margin-right:-10%;
}
.head .user-section{
	float:right;
	font-size:25px;
	margin-right:50px;
}
.head .user-button{
	padding:5px;
}
.head a{
	font-weight:normal;
	color:white;
	text-decoration:none;
}
.head a:hover{
	color:white;
	text-decoration:underline;
}
.head span {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

.main {
	background-color: #FFFFFF;
}

.prog {
	width: 50%;
	margin-left: 24%;
	margin-top: 4%;
	margin-bottom: 3%;
	height: 10%;
}

/*---------------------------*/
div.story-title{
	margin:1% 20% 0% 20%;
	padding-top:1%;
	width: 60%;
	height: 50%;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.02em;
	color: #3A91DA
}
div.script{
	margin:1% 20% 0% 20%;
	padding : 1%;
	width: 60%;
	height: 50%;
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 20px;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600px;
	font-size: 20px;
	line-height: 48px;
	/* identical to box height */
	
	text-align: center;
}
div.voice{
	float:left;
	display:inline-block;
	width: 50px; 
	height: 50px; 
	border:2px solid #C4C4C4; 
	border-radius: 35%; 
	background-color: #EF9CA1; 
}
div.emotion{
	float:center;
	width:100%;
	height:100%;
}
div.speaker, div.sentence{
	display:inline;
}
div.speaker{
	width: 100px;
	float:left;
	display:inline-block;
	font-weight:bold;
}
div.sentence{
	display:inline-block;
}
div.audio{
	width: 50%;
	margin:0% 25% 0% 25%;
}
div.audio audio{
	width: 80%;
	height: 130px;
	float: center;
	display:inline-block;
}
div.sentenceset{
	margin: 1% 3% 1% 3%;
	width: 94%;
	height: 5%;
	border-bottom: 1px solid #C4C4C4;
}
/*--------*/
div.audio button#next_btn, div.audio button#pre_btn{
	border:0;
	outline:0;
	background-color:white;
	display:inline-block;
	transform: translateY(-40%);
}