@charset "UTF-8";
html,body {
	background-color: #FFFFFF;
}

.head {
	position: relative;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background: #97C6EE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.head .title-section{
	float:center;
	margin-right:-10%;
}
.head .user-section{
	float:right;
	font-size:25px;
	margin-right:50px;
}
.head .user-button{
	padding:5px;
}
.head a{
	font-weight:normal;
	color:white;
	text-decoration:none;
}
.head a:hover{
	color:white;
	text-decoration:underline;
}
.head span {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}
.main {
	background-color: #FFFFFF;
}

.prog {
	width: 50%;
	margin-left: 24%;
	margin-top: 4%;
	margin-bottom: 3%;
	height: 10%;
}

/* ------------------------------ */

.input {
	width: 65%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.input #header {
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 43px;
	letter-spacing: -0.05em;
	
	color: #000000;
	
}

.content {
	padding-top: 2.5%;
	
}

.content-text {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

label {
	padding-right: 1.5%;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	/* identical to box height */
	
	text-align: center;
	
	color: #000000;
}

#title, #author, #mainTxt {
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 0.5%;
	margin: 1%;
		
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 34px;
	/* identical to box height */
	
}

.content #sub {
	padding-top: 0%;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 5px;
	text-align: center;
	
	color: #C4C4C4;
}



#submit-btn {
	
	margin-top: 2%;
	width: inherit;
	padding: 2% 20% 2% 20%;
	background-color: #97C6EE;
	border: none;
	
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 33px;
	line-height: 48px;
	/* identical to box height */
	
	text-align: center;
	
	color: #FFFFFF;
}

#modal.modal-overlay {
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         display: none;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: rgba(255, 255, 255, 0.25);
         box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
         backdrop-filter: blur(1.5px);
         -webkit-backdrop-filter: blur(1.5px);
         border-radius: 10px;
         border: 1px solid rgba(255, 255, 255, 0.18);
     }
     #modal .modal-window {
         background: rgba( 69, 139, 197, 0.9 );
         box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 13.5px );
         -webkit-backdrop-filter: blur( 13.5px );
         border-radius: 10px;
         border: 1px solid rgba( 255, 255, 255, 0.18 );
         width: 30%;
         height: 50%;
         position: relative;
         top: -100px;
         padding: 1%;
     }
     #modal .modal-title {
         display: inline;
         text-shadow: 1px 1px 2px gray;
         color: white;
         
     }
     #modal .modal-title h3 {
         display: inline;
         font-weight: bold;
     }
     #modal .close-area {
         display: inline;
         float: right;
         padding-right: 10px;
         cursor: pointer;
         text-shadow: 1px 1px 2px gray;
         color: white;
     }
     
     #modal .content {
         margin-top: 20px;
         padding: 0px 10px;
         text-shadow: 1px 1px 2px gray;
         color: white;
         font-size:20px;
     }
     #modal .content .sentence-examples{
    		 border-radius: 5px;
     }
     #modal .content #ex-1{
     	width:60%;
     	height:15%;
     }
     #modal .content #ex-2{
     	width:70%;
     	height:15%;
     }
     #btn-modal{
     	margin:1%;
     	border:none;
     	border-radius: 50%;
     	width:40px;
     	height:40px;
     	color:white;
     	background-color:#A7D6FE;
     }
     #btn-modal:hover:before{
     }
     #btn-modal:hover{
     	background-color: #97C6EE;
     }